/*
|------------------------------------------------------------------------------------|
| window {BOX:vertical}                                                              |
| |-------------------------------------------------------------------------------|  |
| | mainbox  {BOX:vertical}                                                       |  |
| | |---------------------------------------------------------------------------| |  |
| | | inputbar {BOX:horizontal}                                                 | |  |
| | | |---------| |-----------------------------------------------------| |---| | |  |
| | | | prompt  | | entry                                               | |ci | | |  |
| | | |---------| |-----------------------------------------------------| |---| | |  |
| | |---------------------------------------------------------------------------| |  |
| |                                                                               |  |
| | |---------------------------------------------------------------------------| |  |
| | | message                                                                   | |  |
| | | |-----------------------------------------------------------------------| | |  |
| | | | textbox                                                               | | |  |
| | | |-----------------------------------------------------------------------| | |  |
| | |---------------------------------------------------------------------------| |  |
| |                                                                               |  |
| | |-----------------------------------------------------------------------------|  |
| | | listview                                                                    |  |
| | |-----------------------------------------------------------------------------|  |
| |                                                                               |  |
| | |---------------------------------------------------------------------------| |  |
| | |  sidebar {BOX:horizontal}                                                 | |  |
| | | |---------------|   |---------------|  |--------------| |---------------| | |  |
| | | | Button        |   | Button        |  | Button       | | Button        | | |  |
| | | |---------------|   |---------------|  |--------------| |---------------| | |  |
| | |---------------------------------------------------------------------------| |  |
| |-------------------------------------------------------------------------------|  |
|------------------------------------------------------------------------------------|
*/

* {
  black: #010000;
  white: #FAFBFB;
  casablanca: #F4B34B;

  margin: 0px;
  padding: 0px;
  border: 0px;
}

window {
  background-color: @black;
  color: @white;
}

mainbox {
  background-color: inherit;
  color: inherit;
}

inputbar {
  background-color: inherit;
  color: inherit;
  padding: 8px;
}

prompt {
  background-color: inherit;
  color: inherit;
  margin: 0px 8px 0px 0px;
}

entry {
  background-color: inherit;
  color: inherit;
}

case-indicator {
  background-color: inherit;
  color: inherit;
}

listview {
  background-color: inherit;
  color: inherit;
  spacing: 0px;

  dynamic: true;
  scrollbar: false;
  lines: 5;
  fixed-height: false;
  cycle: false;
}

element {
  background-color: inherit;
  color: inherit;
  padding: 8px;
}

element selected {
  background-color: @casablanca;
  color: @black;
}
